<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.vsii.tsc.utility.ExtentReporterNG"/> 
</listeners>
  <test name="Login" preserve-order="true">
    <classes>
      <class name="com.vsii.tsc.utility.TestBase"/>
  <class name="com.vsii.tsc.guru.testcase.Login"/> 
    </classes>
    </test>
    <test name="CreateNewCustomer" preserve-order="true">
    <classes>
      	<class name="com.vsii.tsc.guru.testcase.NewCustomer"/>
    </classes>
    </test>
<!--         <test name="EditCustomer" preserve-order="true"> -->
<!--     <classes>	 -->
<!--        <class name="com.vsii.tsc.guru.testcase.EditCustomer"/>  -->
<!--     </classes> -->
<!--     </test> -->
<!-- <test name="Login" preserve-order="true"> -->
<!--     <classes> -->
<!--       <class name="com.vsii.tsc.guru.testbase.TestBase"/> -->
<!--       <class name="com.vsii.tsc.guru.testcase.SimpleFactory"/> -->
<!--        <class name="com.vsii.tsc.guru.testcase.SimpleTest"/> -->
<!--     </classes> -->
<!--     </test> -->
</suite> 
