<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="com.vsii.tsc.guru.report.ExtentReporterNG"/> 
</listeners>
  <test name="Login" preserve-order="true">
    <classes>
      <class name="com.vsii.tsc.guru.testbase.TestBase"/>
      <class name="com.vsii.tsc.guru.testcase.Login"/>
<!--       <class name="com.vsii.tsc.guru.testcase.EditCustomer"/> -->
<!--       <class name="com.vsii.tsc.guru.testcase.NewCustomer"/> -->
<!--       <class name="com.vsii.tsc.guru.testcase.DeleteCustomer"/> -->
<!--        <class name="com.vsii.tsc.guru.testcase.TestDownloadUpload"/> -->
    </classes>
    </test>
    <test name="NewCustomer" preserve-order="true">
    <classes>
    	<class name="com.vsii.tsc.guru.testbase.TestBase"/>
      	<class name="com.vsii.tsc.guru.data.TestDataFactory"/>
      	<class name="com.vsii.tsc.guru.testcase.NewCustomer"/>
<!--       	<class name="com.vsii.tsc.guru.testcase.EditCustomer"/> -->
<!--       	<class name="com.vsii.tsc.guru.testcase.DeleteCustomer"/> -->
<!--        <class name="com.vsii.tsc.guru.testcase.TestDownloadUpload"/> -->
    </classes>
    </test>
</suite> <!-- Suite -->
